<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h2>Total Products</h2>
            </div>
            <div class="card-body">
                <h1 class="card-title">Count: {{len}}</h1>
            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h2>Total Price</h2>
            </div>
            <div class="card-body">
                <h1 class="card-title">Price: {{price}}</h1>
            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h2>Cart Orders</h2>
            </div>
            <div class="card-body">
                <h1 class="card-title">Cart: {{carts}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h2>Total Orders</h2>
            </div>
            <div class="card-body">
                <h1 class="card-title">Orders: {{orders}}</h1>
            </div>
        </div>
        
    </div>
    
</div>