<div class="row">
    <div class="col-md-4">
        <form action="" [formGroup]="productForm" (ngSubmit)="submitProduct()">
            <div class="form-group">
                <label for="" class="form-label">Product Id</label>
                <input type="text" class="form-control" formControlName="productId">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Product Name</label>
                <input type="text" class="form-control" formControlName="productName">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Product Description</label>
                <input type="text" class="form-control" formControlName="productDescription">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Product Category</label>
                <input type="text" class="form-control" formControlName="productCategory">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Product Price</label>
                <input type="text" class="form-control" formControlName="productPrice">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Product Image</label>
                <input type="text" class="form-control" formControlName="productImage">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Add Product</button>
            </div>
        </form>
    </div>
</div>